* {
  margin: 0px;
  background-color: #f7f7f7;
}

.nav__class {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 135px;
  position: sticky;
}

.nav__class a {
  text-decoration: none;
  color: #1f2a37;
}

.nav__class .items__class a:hover,
.nav__class .items__class a:focus {
  font-family: Gilroy-ExtraBold;
}

.nav__class .items__class .nav-link.selected {
  font-family: Gilroy-ExtraBold !important;
}

.logo__class {
  display: flex;
  align-items: center;
  gap: 50px;
  cursor: pointer;
}

.items__class {
  display: flex;
  align-items: center;
  color: #1f2a37;
  gap: 40px;
  font-size: 16px;
  font-family: Gilroy-Medium;
}

.btn__try-free {
  padding: 16px 40px;
  border-radius: 100px;
  background-color: #045e5e;
  color: #ffffff;
  border: none;
  font-size: 18px;
  cursor: pointer;
  position: absolute;
  z-index: 101;
  top: 0;
  right: 0;
  margin: 25px 135px;
  font-family: Gilroy-Bold;
}

.container {
  text-align: center;
}
.pricing {
  background-color: #f7f7f7;
  margin-top: 85px;
}

.p-month {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
  margin-top: 82px;
  margin-bottom: 50px;
}

.p-month p {
  font-size: 18px;
  color: #161c2d;
  font-family: Gilroy-Regular;
}

.p-heading h1 {
  font-family: Gilroy-Bold;
  font-size: 60px;
}

@font-face {
  font-family: "Gilroy-Regular";
  src: url("./fonts/gilroyNew/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Medium";
  src: url("./fonts/gilroyNew/Gilroy-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Semibold";
  src: url("./fonts/gilroyNew/Gilroy-SemiBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Bold";
  src: url("./fonts/gilroyNew/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-ExtraBold";
  src: url("./fonts/gilroyNew/Gilroy-ExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.save {
  color: #473bf0;
  border: none;
  padding: 8px 20px 8px 20px;
  border-radius: 20.5px;
  font-family: Gilroy-Bold;
  font-size: 13px;
  background: #e6e5f7;
  font-family: Gilroy-Bold;
}

.p-heading p {
  font-family: Gilroy-Regular;
  font-size: 16px;
  color: gray;
  margin-top: 24px;
  line-height: 28px;
}

/* 
 */
.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  display: flex;
  gap: 26px;
}

.card1 {
  background-color: white;
  border-radius: 10px;
  padding-left: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding-right: 35px;
}
.card3 {
  background-color: white;
  border-radius: 10px;
  padding-left: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding-right: 35px;
}
.card2 {
  background-color: #045e5e;
  border-radius: 10px;
  padding-left: 20px;
  color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding-right: 35px;
}

.c-title {
  color: #045e5e;
  font-family: Gilroy-Bold;
  font-size: 13px;
  font-style: normal;
  margin-bottom: 40px;
  margin-top: 40px;
}

.c-des {
  font-family: Gilroy-Regular;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  color: #777e90;
  margin-top: 12px;
  margin-bottom: 20px;
}
.c-bold {
  color: #1f2a37;
  font-family: Gilroy-Semibold;
  font-size: 16px;
}

.c-list {
  display: flex;
  gap: 15px;
  justify-content: space-between;
  margin-top: 16px;
}
.c-list ul {
  list-style: none;
}
.c-list li {
  margin-left: -40px;
  color: #777e90;
  font-family: Gilroy-Regular;
  font-size: 16px;
  margin-top: 12px;
}

.c-list span {
  background-color: #ffffff;
  margin-left: 12px;
}

/*  */
.c-title2 {
  color: white;
  font-family: Gilroy-Bold;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 40px;
  margin-top: 40px;
}
.c-des2 {
  font-family: Gilroy-Regular;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  color: #9dc9c9;
  margin-top: 12px;
  margin-bottom: 20px;
}
.c-bold2 {
  color: white;
  font-family: Gilroy-Semibold;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
  text-transform: capitalize;
}
.c-list2 {
  display: flex;
  gap: 15px;
  margin-top: 16px;
}

.c-list2 ul {
  list-style: none;
}
.c-list2 li {
  margin-left: -40px;
  color: white;
  font-family: Gilroy-Regular;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-top: 12px;
}
.card3 .c-btn {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 90px;
  margin-bottom: 20px;
}

.card2 .c-btn {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
  margin-left: 90px;
}
.card1 .c-btn {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 22px;
  margin-left: 90px;
}

.styled-button {
  font-family: Gilroy-Bold;
  font-size: 18px;
  width: 359px;
  height: 59px;
  flex-shrink: 0;
  border-radius: 100px;
  background: #045e5e;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  margin-bottom: 20px;
}
.styled-button1 {
  font-family: Gilroy-Bold;
  width: 359px;
  height: 59px;
  border-radius: 100px;
  background: #045e5e;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  margin-bottom: 40px;
  font-size: 18px;
  margin-top: 108px;
}

.styled-button2 {
  font-family: Gilroy-Bold;
  font-size: 18px;

  width: 359px;
  height: 59px;
  flex-shrink: 0;
  border-radius: 100px;
  background: white;
  color: #045e5e;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  margin-bottom: 20px;
}

.c-container {
  align-items: center;
  justify-content: center;
  display: flex;
  background: #f7f7f7;
  margin: 0;
}

.c-futter {
  text-align: center;
  margin-top: 24px;
  background-color: white;
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 14.5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional box shadow for better visual appeal */
  padding-right: 345px;
  padding-left: 345px;
}

.see__pricing {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  cursor: pointer;
  background-color: #ffffff;
  font-family: Gilroy-Semibold;
}

.see__pricing h1 {
  font-size: 18px;
  color: #045e5e;
}

.c-futter p {
  color: #1f2a37;
  font-size: 16px;
  font-family: Gilroy-Semibold;
}

.trusted-container {
  display: flex;
  justify-content: center;
  background-color: #f7f7f7;
  margin-top: 150px;
  margin-left: 80px;
}

.trusted h1 {
  color: #1f2a37;
  font-family: Gilroy-Bold;
  font-size: 80px;
}

.other-container {
  display: flex;
  justify-content: center;
  background-color: #f7f7f7;
  gap: 400px;
  margin-left: 80px;
  margin-top: 150px;
}

.other {
  margin-left: 75px;
}

.other img {
  margin-top: 30px;
}

.other h1 {
  color: #1f2a37;
  font-family: Gilroy-Bold;
  font-size: 40px;
  text-transform: capitalize;
}

.grid-container {
  display: grid;
  grid-template-rows: repeat(2, 1fr); /* Two rows */
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  gap: 40px; /* Adjust the gap between items */
}

.grid-item3 {
  padding: 20px;
  text-align: left;
}

.grid-item4 {
  padding: 20px;
  text-align: left;
}
.grid-item1 {
  padding: 20px;
  text-align: left;
  border-top: 2px solid #045e5e;
  border-bottom: 1px solid #045e5e;
}
.grid-item2 {
  padding: 20px;
  text-align: left;
  border-top: 1px solid #045e5e;
  border-bottom: 1px solid #045e5e;
}
.grid-item2 p {
  color: var(--Text-Dark, #292930);
  font-family: Gilroy-Medium;
  font-size: 24px;
}
.grid-item1 p {
  color: var(--Text-Dark, #292930);
  font-family: Gilroy-Medium;
  font-size: 24px;
}
.grid-item3 p {
  color: var(--Text-Dark, #292930);
  font-family: Gilroy-Medium;
  font-size: 24px;
}
.grid-item4 p {
  color: var(--Text-Dark, #292930);
  font-family: Gilroy-Medium;
  font-size: 24px;
}

.futter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
  margin-top: 200px;
  margin-left: -520px;
}

.Frequently {
  color: #045e5e;
  font-family: Gilroy-SemiBold;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}
.futter h1 {
  color: #1f2a37;
  font-family: Gilroy-Bold;
  font-size: 48px;
  margin-top: 12px;
}

.futter-des {
  color: #777e90;
  font-family: Gilroy-Regular;
  font-size: 16px;
  margin-top: 12px;
}

/*  */
.accordion-main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
  margin-top: 50px;
  margin-left: 80px;
}
.accordion-container {
  width: 100%;
  max-width: 1370px;
}

.accordion-item {
  border-radius: 16px;
  border: 1px solid #e7e9ed;
  margin-bottom: 10px;
  overflow: hidden;
}

.accordion-header {
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;

  background: #fff;
}

.accordion-content {
  padding: 10px;
  display: none;
  background-color: #fff;
}

.accordion-content.show {
  display: block;
  border: 1px solid #e7e9ed;
}

.title {
  flex-grow: 1;
  margin-right: 10px;
  color: #1f2a37;
  padding-top: 24px;
  padding-bottom: 24px;

  font-family: Gilroy-Medium;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.accordion-content p {
  color: var(--Neutrals-4, #777e90);
  font-family: Gilroy-Regular;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.toggle-icon {
  font-size: 18px;
  background-color: #000;
  color: #fff;
  padding: 5px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-number {
  margin-right: 10px;
  font-weight: bold;
  color: #1f2a37;

  font-family: Gilroy-ExtraBold;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.update__class {
  display: flex;
  align-items: center;
  justify-content: center;
}

.update__class h1 {
  font-size: 48px;
  color: #1f2a37;
  font-family: Gilroy-Bold;
  margin-top: 40px;
}

.update__class h3 {
  color: #777e90;
  font-family: Gilroy-Regular;
  margin-top: 16px;
}

.update__class-info {
  text-align: center;
}

.input__class {
  margin-top: 40px;
  margin-bottom: 58px;
  padding: 7px 7px 7px 24px;
  width: 500px;
  height: 55px;
  border: none;
  border-radius: 100px;
  background-color: #ffffff;
  font-family: Gilroy-Regular;
}

.btn__update {
  position: absolute;
  right: 15px;
  top: 45%;
  transform: translateY(-50%);
  border: none;
  background-color: #045e5e;
  color: #ffffff;
  padding: 15px 30px;
  border-radius: 100px;
  font-size: 17px;
  font-family: Gilroy-Semibold;
  cursor: pointer;
  width: 166px;
}
